.center {
  /* background: url("images/vector_smart_object_(double_click_to_edit)vector_smart_object_(double_click_to_edit)_533.png");>  */
  /* background-origin: content-box; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var('images/vector_smart_object_(double_click_to_edit)vector_smart_object_(double_click_to_edit)_533.png'); */
  /* background-size: cover; */
  position: absolute;
  top: 10%;
  left: 50px;
  color: white;
 }
.center-text {
  position: absolute;
  top: 5%;
  left: 500px;
  width: 50%;
  font-family: Montserat;
  font-size: 178.8px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.4em;
  /* background-color: hsla(0, 0%, 0%, 0.5); */
  /* color: rgb(255, 255, 255); */
  }
.VIRTUAL{
  position: absolute;
  bottom: 10%;
  left: 500px;
  /* width: 10%; */
  font-family: Montserrat;
  font-size: 71px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.BIGGEST{
  position: absolute;
  top: 10%;
  left: 2000px;
  width: 80%;
  font-family: Montserrat;
  font-size: 100px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.Artworks{
  position: absolute;
  top: 35%;
  left: 2000px;
  width: 100%;
  font-family: Montserrat;
  font-size: 58.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.Lorem{
  position: absolute;
  top: 45%;
  left: 2000px;
  width: 80%;
  font-family: Montserrat;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}
.button{
  position: absolute;
  top: 75%;
  left: 2050px;
  width: 100%;
  width: 493px;
  height: 137px;
  background-color: #ffffff;
  border-radius: 68.4px;
  background-color: transparent;
}
.button-text{
  position: absolute;
  top: -20%;
  left: 30%;
  width: 100%;
  font-family: Montserrat;
  font-size: 58.4px;
  line-height: 88px;
  font-weight: 500;
  color: #19154d;
}
.instagram{
  position: absolute;
  bottom: 15%;
  right: -95%;
  width: 64px;
  height: 64px;
  color: #ffffff;
  background-color: transparent;
}
.facebook{
  position: absolute;
  bottom: 10%;
  right: -95%;
  width: 64px;
  height: 64px;
  color: #ffffff;
  background-color: transparent;
}
.twitter{
  position: absolute;
  bottom: 5%;
  right: -95%;
  width: 64px;
  height: 64px;
  color: #ffffff;
  background-color: transparent;
}
.whatsapp{
  position: absolute;
  bottom: 0%;
  right: -95%;
  width: 64px;
  height: 64px;
  color: #ffffff;
  background-color: transparent;
}
.ellipse{
  position: absolute;
  top: 10px;
  left: 10px;
  mix-blend-mode: screen;
  width: 2023px;
  height: 1640px;
  /* background-image: linear-gradient(0.0deg, #ff3edb 0%, #000000 100%); */
  background-color: transparent;
}
.vector{
  mix-blend-mode: color-dodge;
  width: 464px;
  height: 807px;
}
.rectangle{
  position: absolute;
  top: 80px;
  left: 200px;
  color: #ffffff;
  background-color: transparent;
}
.logo {
  position: absolute;
  top: 60px;
  left: 500px;
  width: 475px;
  height: 111px;
  font-size: 50px;
  color: #ffffff;
  background-color: transparent;
}
.container {
  position: absolute;
  
}
/* menu */
.image-container {
  position: relative;
}

.image-container img {
  width: 3556px;
  height: 2000px;
}
nav ul {
  position: absolute;
  top: 40px;
  left: 2000px;
  width: 100%;
  /* text-align: right;  */
  font-family: Montserrat;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  /* color: #e03d3d; */
}
nav ld {
  margin-right: 100px;
}
nav a {
  color: #ffffff;
}