body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-image: url(../images/layers.png);
}
/* .rectangle{
    background-color: transparent;
 } */
  header {
    display: flex;
    padding: 20px;
    align-items: center;
    /* justify-content: space-around; */
  }
    header .menu {
      margin: auto 20px;
      display: inline-block;
      cursor: pointer;
    }
    header .menu img {
      width: 30px;
    }
    header .container {
      display: flex;
      width: calc(100% - 70px);
      justify-content: space-between;
      align-items: center;
    }
    header .container .logo {
      width: 100%;
      max-width: 300px;
      height: 80px;
      margin: 0 10px;
      background: url(../images/logo.png) no-repeat;
      background-size: contain;
      background-position: center;
    }
    header .container .navigation a {
      font-family: Montserrat;
      font-size: 24px;
      margin: 0 35px;
      line-height: 1;
      font-weight: 300;
      text-decoration: none;
      color: #ffffff;
    }
  main {
    position: relative;
    mix-Blend-mode: screen;
  }
  main .container{
     display: flex;
     justify-content:space-around;
     background: url(../images/ring.png) no-repeat;
     width: 100%;
     background-size: contain;
  }
   .ring-text {
      position: relative;
      top: 10px;
      left:160px;
      font-family: sans-serif;
      font-size: 80px;
      line-height: 0.9;
      /* font-weight: 30%; */
      letter-spacing: 0.5em;
      color: #ffffff;
    }
    .virtual{
      position: relative;
      font-family: sans-serif;
      top: -50px;
      left:160px;
      font-size:34px;
      /* width: 370px; */
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.2em;
      color: #ffffff;
    }
    .biggest{
      position: relative;
      top: 60px;
      left: 300px;
      font-family: sans-serif;
      width: 50%;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.2em;
      color: #ffffff;
    }
    .artworks{
      position: relative;
      top: 40px;
      left: 300px;
      /* width: 250%; */
      font-family: 'Courier New', sans-serif;
      font-size: 24px;
      line-height: 1.0;
      color: #ffffff;
    }
    .lorem{
      position: relative;
      top: 50px;
      left: 300px;
      width: 50%;
      font-family: 'Courier New',sans-serif;
      font-size: 20px;
      line-height: 0.7;
      /* font-weight: 300; */
      color: #ffffff;
    }
    .button {
      cursor: pointer;
      position: relative;
      top: 40px;
      left: 300px;
      background: url(../images/button.png) no-repeat;
      background-size: contain;
      border: none;
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
  }
  .iftw{
    display: block;
    float: right;
    width: 30px;
  }
  .iftw-button{
    transform: rotate(270deg);
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }