/* .my-class1 {
    margin: 0;
    text-align: right;
    font-size: 0.7rem;
    width: 98%;
  } */
  p {
  color: white; 
  width: 500px;
  }
  a{
  font-family: Montserrat;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  color: #ffffff;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url('../images/layers.png');
}  
main {
  color: rgb(243, 233, 233);
  width: 100%;
  height: 100%;
 }
 nav {
  font-family: Montserrat;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: #ffffff;
} 
nav l {
  margin-right: 1px;
  /* text-align: left; */
}
nav lright {
  margin-right: 21px;
  /* text-align: left; */
}
img {
  width: 100px;
  height: 100px;
}
.lines3,.bottom{
  width: 33px;
  height: 15px;
}
ul {
  text-align: right;
}
/* .class-1 {
  background-color: tomato !important;
}
.class-2 {
  background-color: #478447
  /* teal; */
/* } */
.font {
  font-size: 18px;
} */
h1 {
  color: #ffffff; 
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/* feImage,  */

/* img [src]{
  /* width: 3%;
  height: 3vh; 
  width: 17px;
  height: 100px;
  background-image: url('../images/ellipse_532.png');
/* }  

img class-2 {
  width: 1754px;
  height: 1626px;
}
screen {
  width: 2023px;
  height: 1640px;
  background-image: linear-gradient(0.0deg, #ff3edb 0%, #000000 100%);
}

h2 {
  font-family: Montserrat;
  font-size: 100px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ffffff;
}
section {
  width: 1754px;
  height: 1626px;
} */